# {{ ansible_managed }}
---

services:
  archisteamfarm:
    image: justarchi/archisteamfarm:latest@sha256:8939fb359424727494ea7e8e38d3a291c4e6cde46a25050d1e4e476645f8e7be
    container_name: archisteamfarm
    volumes:
      - ./app-config:/app/config
    networks:
      - tunnel
    restart: always
networks:
  tunnel:
    external: true
