# {{ ansible_managed }}
---

services:
  archisteamfarm:
    image: justarchi/archisteamfarm:5.4.6.1@sha256:72ae8ec437b60161e872e887031797a69eaa8d4498e785cd7309bc9fb9835e4f
    container_name: archisteamfarm
    volumes:
      - ./app-config:/app/config
    networks:
      - tunnel
    restart: always
networks:
  tunnel:
    external: true
