# {{ ansible_managed }}
---

services:
  archisteamfarm:
    image: justarchi/archisteamfarm:latest@sha256:9592d68e37df88a8bbd1a2965bb559b1ce5230b278f58034cba5e46462ad90b4
    container_name: archisteamfarm
    volumes:
      - ./app-config:/app/config
    networks:
      - traefik_public
    labels:
      - "traefik.docker.network=traefik_public"
      - "traefik.http.routers.archisteamfarm.rule=Host(`asf.caycehouse.com`)"
      - "traefik.http.routers.archisteamfarm.entrypoints=websecure"
      - "traefik.http.services.archisteamfarm.loadbalancer.server.port=1242"
      - "traefik.enable=true"
    restart: always
networks:
  traefik_public:
    external: true
