---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: freshrss
spec:
  chartRef:
    kind: OCIRepository
    name: freshrss
  interval: 1h
  values:
    controllers:
      freshrss:
        containers:
          app:
            image:
              repository: freshrss/freshrss
              tag: 1.28.1-alpine@sha256:0b029ab4cbd2b5772b3659ce9379a70ceec0b3a5326921748d07c724e57756e1
            env:
              CRON_MIN: "*/15"
              LISTEN: &port 80
              TZ: America/New_York
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
              startup:
                enabled: true
                spec:
                  failureThreshold: 30
                  periodSeconds: 10
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 512Mi
    defaultPodOptions:
      hostUsers: false
    service:
      app:
        ports:
          http:
            port: *port
    route:
      app:
        hostnames:
          - "{{ .Release.Name }}.housefam.casa"
        parentRefs:
          - name: envoy-internal
            namespace: network
    persistence:
      data:
        existingClaim: "{{ .Release.Name }}"
        globalMounts:
          - path: /var/www/FreshRSS/data
            subPath: data
          - path: /var/www/FreshRSS/extensions
            subPath: extensions
