# {{ ansible_managed }}
---

services:
  oceanblock:
    image: itzg/minecraft-server:java8-multiarch@sha256:3c110bed1f2309e9f7060b378eeca4b9fecc4fbc7084178b6331e8c910d357cd
    container_name: oceanblock
    ports:
      - 25565:25565
    environment:
      EULA: "TRUE"
      FTB_MODPACK_ID: "91"
      FTB_MODPACK_VERSION_ID: "2245"
      MEMORY: "4G"
      TYPE: FTBA
      USE_AIKAR_FLAGS: "true"
    networks:
      - default
    volumes:
      - ./data:/data
    healthcheck:
      test: mc-health
      start_period: 5m
      interval: 5s
      retries: 20
    restart: always
networks:
  default:
    driver_opts:
      com.docker.network.driver.mtu: 1280
