# {{ ansible_managed }}
---

services:
  oceanblock:
    image: itzg/minecraft-server:java8-multiarch@sha256:23612773fe8b096fd30860528d29ae120d9084c94bf45df52e7209f83b521798
    container_name: oceanblock
    ports:
      - 25565:25565
    environment:
      EULA: "TRUE"
      FTB_MODPACK_ID: "91"
      FTB_MODPACK_VERSION_ID: "2245"
      MEMORY: "4G"
      TYPE: FTBA
      USE_AIKAR_FLAGS: "true"
    networks:
      - default
    volumes:
      - ./data:/data
    healthcheck:
      test: mc-health
      start_period: 5m
      interval: 5s
      retries: 20
    restart: always
networks:
  default:
    driver_opts:
      com.docker.network.driver.mtu: 1280
