# {{ ansible_managed }}
---

services:
  oceanblock:
    image: itzg/minecraft-server:2023.12.1-java8-multiarch@sha256:c6bf47b87f947d6b666750eb633aa8492b7fc2515b38c643bed06aeee029eda6
    container_name: oceanblock
    ports:
      - 25565:25565
    environment:
      DIFFICULTY: "hard"
      ENABLE_ROLLING_LOGS: "true"
      EULA: "TRUE"
      FTB_MODPACK_ID: "91"
      FORCE_GAMEMODE: "true"
      MAX_PLAYERS: "10"
      MEMORY: "4G"
      MOTD: "The Fryer's OceanBlock Server"
      OPS: "FryyourBacon"
      OVERRIDE_SERVER_PROPERTIES: "true"
      SNOOPER_ENABLED: "false"
      SYNC_CHUNK_WRITES: "false"
      TYPE: FTBA
      USE_AIKAR_FLAGS: "true"
      VIEW_DISTANCE: "7"
    networks:
      - default
    volumes:
      - ./data:/data
      - /etc/timezone:/etc/timezone:ro
    healthcheck:
      test: mc-health
      start_period: 5m
      interval: 5s
      retries: 20
    restart: always
networks:
  default:
    driver_opts:
      com.docker.network.driver.mtu: 1280
