---
# yaml-language-server: $schema=https://k8s-skeemahs.pages.dev/kustomize.toolkit.fluxcd.io/kustomization_v1.json
apiVersion: kustomize.toolkit.fluxcd.io/v1
kind: Kustomization
metadata:
  name: minecraft
spec:
  components:
    - ../../../../components/volsync
  dependsOn:
    - name: rook-ceph-cluster
      namespace: rook-ceph
  interval: 1h
  path: ./kubernetes/apps/games/minecraft/app
  postBuild:
    substitute:
      APP: minecraft
      # renovate: datasource=github-releases depName=caycehouse/fabulously-optimized-server
      PACKWIZ_VERSION: v11.1.0
      VOLSYNC_CAPACITY: 15Gi
  prune: true
  sourceRef:
    kind: GitRepository
    name: flux-system
    namespace: flux-system
  targetNamespace: games
  wait: false
