# {{ ansible_managed }}
---

services:
  meshcentral:
    restart: unless-stopped
    container_name: meshcentral
    image: ghcr.io/ylianst/meshcentral:1.1.22@sha256:b543a2a1d459e3604df6f7cc4043458c1c62dc06ede7c1a84238bbfaeefab7aa
    ports:
      - "4430:4430"
    volumes:
      # config.json and other important files live here. A must for data persistence
      - ./meshcentral-data:/opt/meshcentral/meshcentral-data
      # where file uploads for users live
      - ./meshcentral-user_files:/opt/meshcentral/meshcentral-files
      # location for the meshcentral-backups - this should be mounted to an external storage
      - ./meshcentral-backup:/opt/meshcentral/meshcentral-backups
      # location for site customization files
      - ./meshcentral-web:/opt/meshcentral/meshcentral-web
    labels:
      # Homepage
      - homepage.group=Remote Access
      - homepage.name=MeshCentral
      - homepage.icon=meshcentral
      - homepage.href=https://meshcentral.caycehouse.com
      - homepage.description=Agent-based remote desktop
      # AutoKuma
      - kuma.meshcentral.docker.name=MeshCentral
      - kuma.meshcentral.docker.docker_container=meshcentral
      - kuma.meshcentral.docker.docker_host=1
