[defaults]
nocows = True
inventory = inventory
remote_user = caycehouse
vault_identity_list = home-ops@~/.ansible/vault-password-home-ops
timeout = 60

[privilege_escalation]
become = True

[ssh_connection]
pipelining = True
