[defaults]
ansible_managed = "Ansible managed {{{{ template_path|basename + lookup('pipe', 'git log --format=",%%h %%ad %%ae" -1 --date=format:"%%m/%%d/%%Y %%H:%%M" ' + template_fullpath|quote)|default(",UNCOMMITED", True) }}}}"
nocows = True
inventory = inventory
remote_user = caycehouse
vault_identity_list = home-ops@~/.ansible/vault-password-home-ops

[privilege_escalation]
become = True

[ssh_connection]
pipelining = True
