# {{ ansible_managed }}
---

services:
  homepage:
    container_name: homepage
    image: ghcr.io/gethomepage/homepage:v0.8.8@sha256:0f066a6d6fba3a810a85aa79a483302b0fee21139b67adaeb245edae5051f3e8
    volumes:
      - ./app-config:/app/config
      - /var/run/docker.sock:/var/run/docker.sock:ro
    networks:
      - tunnel
    restart: unless-stopped
    labels:
      # AutoKuma
      - kuma.homepage.docker.name=Homepage
      - kuma.homepage.docker.docker_container=homepage
      - kuma.homepage.docker.docker_host=1

networks:
  tunnel:
    external: true
