# {{ ansible_managed }}
---

services:
  homepage:
    container_name: homepage
    image: ghcr.io/gethomepage/homepage:v0.8.7@sha256:06203a4aeb0dac75a8419f86d950ea01f3b9e5ca3f1fcd6c7065e34d3700b05f
    volumes:
      - ./app-config:/app/config
      - /var/run/docker.sock:/var/run/docker.sock:ro
    networks:
      - tunnel
    restart: unless-stopped
    labels:
      # AutoKuma
      - kuma.homepage.docker.name=Homepage
      - kuma.homepage.docker.docker_container=homepage
      - kuma.homepage.docker.docker_host=1

networks:
  tunnel:
    external: true
