# {{ ansible_managed }}
---

services:
  homepage:
    container_name: homepage
    image: ghcr.io/gethomepage/homepage:v0.8.9@sha256:869c8002a95c8ecef7b0359a36b13693cd2bf401c70482202c702f93bc264a04
    volumes:
      - ./app-config:/app/config
      - /var/run/docker.sock:/var/run/docker.sock:ro
    networks:
      - tunnel
    restart: unless-stopped
    labels:
      # AutoKuma
      - kuma.homepage.docker.name=Homepage
      - kuma.homepage.docker.docker_container=homepage
      - kuma.homepage.docker.docker_host=1

networks:
  tunnel:
    external: true
