# {{ ansible_managed }}
---

services:
  plexiglass-mountain:
    image: itzg/minecraft-server:2023.12.0-java17@sha256:c342fe8eb1b5f748412fb023fe6f84801a2ba86403b4842ec1b00d80f2226d07
    container_name: plexiglass-mountain
    ports:
      - 25566:25565
    environment:
      ALLOW_FLIGHT: "true"
      DIFFICULTY: "hard"
      ENABLE_ROLLING_LOGS: "true"
      ENFORCE_WHITELIST: "true"
      EULA: "true"
      FORCE_GAMEMODE: "true"
      FTB_MODPACK_ID: "96"
      MAX_PLAYERS: "10"
      MEMORY: "4G"
      MOTD: "The Fryer's Plexiglass Mountain Server"
      OPS: "FryyourBacon"
      OVERRIDE_SERVER_PROPERTIES: "true"
      OVERRIDE_WHITELIST: "true"
      SIMULATION_DISTANCE: "4"
      SNOOPER_ENABLED: "false"
      SPAWN_PROTECTION: "0"
      SYNC_CHUNK_WRITES: "false"
      TYPE: "FTBA"
      USE_AIKAR_FLAGS: "true"
      VIEW_DISTANCE: "7"
      WHITELIST: "FryyourBacon"
    tty: true
    stdin_open: true
    networks:
      - default
    volumes:
      - ./data:/data
      - /etc/timezone:/etc/timezone:ro
    healthcheck:
      test: mc-health
      start_period: 7m
      interval: 5s
      retries: 20
    restart: always
networks:
  default:
    driver_opts:
      com.docker.network.driver.mtu: 1280
