# {{ ansible_managed }}
---

services:
  twitchdropsminer:
    image: ghcr.io/valentin-metz/twitchdropsminer:master@sha256:30d1854dff2ba995eb92e78d9544906da05a74fda2bfb368e9c83f1fb6423e9d
    container_name: twitchdropsminer
    volumes:
      - ./cookies.jar:/TwitchDropsMiner/cookies.jar
      - ./settings.json:/TwitchDropsMiner/settings.json:ro
    restart: unless-stopped
    tty: true
    init: true
    stdin_open: true
    labels:
      # Homepage
      - homepage.group=Utilities
      - homepage.name=TwitchDropsMiner
      - homepage.icon=mdi-twitch
      - homepage.description=AFK Twitch drops miner
      # AutoKuma
      - kuma.twitchdropsminer.docker.name=TwitchDropsMiner
      - kuma.twitchdropsminer.docker.docker_container=twitchdropsminer
      - kuma.twitchdropsminer.docker.docker_host=1
