# {{ ansible_managed }}
---

services:
  twitchdropsminer:
    image: ghcr.io/valentin-metz/twitchdropsminer:master@sha256:52c3c3e706459791f7b599ced8400a4c99fd540d469cd64ada776b70a1881bc2
    container_name: twitchdropsminer
    volumes:
      - ./cookies.jar:/TwitchDropsMiner/cookies.jar
      - ./settings.json:/TwitchDropsMiner/settings.json:ro
    restart: unless-stopped
    tty: true
    init: true
    stdin_open: true
    labels:
      # Homepage
      - homepage.group=Utilities
      - homepage.name=TwitchDropsMiner
      - homepage.icon=mdi-twitch
      - homepage.description=AFK Twitch drops miner
      # AutoKuma
      - kuma.twitchdropsminer.docker.name=TwitchDropsMiner
      - kuma.twitchdropsminer.docker.docker_container=twitchdropsminer
      - kuma.twitchdropsminer.docker.docker_host=1
