# {{ ansible_managed }}
---

services:
  twitchdropsminer:
    image: ghcr.io/valentin-metz/twitchdropsminer:master@sha256:2b645a2799b592b73e795c0ae2ec30e5785627f8bb0f44576f1b7ade52a78123
    container_name: twitchdropsminer
    volumes:
      - ./cookies.jar:/TwitchDropsMiner/cookies.jar
      - ./settings.json:/TwitchDropsMiner/settings.json:ro
    restart: always
    tty: true
    stdin_open: true
    labels:
      # Homepage
      - homepage.group=Utilities
      - homepage.name=TwitchDropsMiner
      - homepage.icon=mdi-twitch
      - homepage.description=AFK Twitch drops miner
      # AutoKuma
      - kuma.twitchdropsminer.docker.name=TwitchDropsMiner
      - kuma.twitchdropsminer.docker.docker_container=twitchdropsminer
      - kuma.twitchdropsminer.docker.docker_host=1
