# {{ ansible_managed }}
---

services:
  code-server:
    image: lscr.io/linuxserver/code-server:4.17.0@sha256:562487dd5655261a8c6ee31c3a6dcb00a50e676a010fa2c837446f1f0a37dbc2
    environment:
      DOCKER_MODS: linuxserver/mods:code-server-python3
      PGID: 1002
      PUID: 1002
      SUDO_PASSWORD: "{{ code_server.sudo_password }}"
      TZ: America/New_York
    volumes:
      - ./config:/config
      - /dev/net/tun:/dev/net/tun
    networks:
      - tunnel
    cap_add:
      - NET_ADMIN
networks:
  tunnel:
    external: true
