# {{ ansible_managed }}
---

services:
  code-server:
    image: lscr.io/linuxserver/code-server:4.18.0@sha256:db8d152fff7b702e868b1ec2a64c0b3a03127738c653a37c02f3056d3289df76
    environment:
      DOCKER_MODS: linuxserver/mods:code-server-python3
      PGID: 1002
      PUID: 1002
      SUDO_PASSWORD: "{{ code_server.sudo_password }}"
      TZ: America/New_York
    volumes:
      - ./config:/config
      - /dev/net/tun:/dev/net/tun
    networks:
      - tunnel
    cap_add:
      - NET_ADMIN
networks:
  tunnel:
    external: true
