# {{ ansible_managed }}
---

services:
  code-server:
    image: lscr.io/linuxserver/code-server:4.13.0@sha256:acaa30d2a67e1a44fb98af15f4a9fce83c71a0f9decd871ed51a2fc230acdc41
    environment:
      DOCKER_MODS: linuxserver/mods:code-server-python3
      PGID: 1002
      PUID: 1002
      SUDO_PASSWORD: "{{ code_server.sudo_password }}"
      TZ: America/New_York
    volumes:
      - ./config:/config
      - /dev/net/tun:/dev/net/tun
    networks:
      - tunnel
    cap_add:
      - NET_ADMIN
networks:
  tunnel:
    external: true
