---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2beta2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: nextcloud
spec:
  interval: 1h
  chart:
    spec:
      chart: nextcloud
      version: 6.6.7
      sourceRef:
        kind: HelmRepository
        name: nextcloud
        namespace: flux-system
  install:
    remediation:
      retries: 3
    timeout: 60m
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
    timeout: 60m
  values:
    deploymentAnnotations:
      reloader.stakater.com/auto: "true"
    image:
      repository: nextcloud
      tag: 31.0.0-apache@sha256:32c9403b1b770141850ed999a3a0f20c8ff416d487278e531ae5d594e23d55d2
    cronjob:
      enabled: true
      resources:
        requests:
          cpu: 10m
        limits:
          memory: 512Mi
    externalDatabase:
      enabled: true
      type: postgresql
      existingSecret:
        enabled: true
        secretName: &secret nextcloud-secret
        hostKey: POSTGRES_HOST
        databaseKey: POSTGRES_DB
        usernameKey: POSTGRES_USER
        passwordKey: POSTGRES_PASSWORD
    metrics:
      enabled: true
      serviceMonitor:
        enabled: true
      timeout: 10s
    nextcloud:
      host: "nc.housefam.casa"
      existingSecret:
        enabled: true
        secretName: *secret
        usernameKey: ADMIN_USER
        passwordKey: ADMIN_PASS
        smtpHostKey: SMTP_HOST
        smtpUsernameKey: SMTP_USER
        smtpPasswordKey: SMTP_PASS
        # https://github.com/xperimental/nextcloud-exporter?tab=readme-ov-file#token-authentication
        tokenKey: METRICS_TOKEN
      defaultConfigs:
        redis.config.php: false
        s3.config.php: false
        swift.config.php: false
      configs:
        custom.config.php: |-
          <?php
          $CONFIG = array (
            'maintenance_window_start' => 6,
            'memcache.distributed' => '\OC\Memcache\Redis',
            'memcache.locking' => '\OC\Memcache\Redis',
            'redis' => array(
              'host' => 'dragonfly.database.svc.cluster.local',
              'port' => 6379,
              'dbindex' => 3,
            ),
          );

          $trustedDomains = getenv('NEXTCLOUD_TRUSTED_DOMAINS');
          if ($trustedDomains) {
            $CONFIG['trusted_domains'] = array_filter(array_map('trim', explode(' ', $trustedDomains)));
          }
      extraEnv:
        - name: FORWARDED_FOR_HEADERS
          value: "HTTP_X_FORWARDED_FOR"
        - name: TRUSTED_PROXIES
          value: "127.0.0.1 10.0.0.0/8 172.16.0.0/12 192.168.0.0/16"
        - name: OVERWRITECLIURL
          value: "https://nc.housefam.casa"
        - name: PHP_MEMORY_LIMIT
          value: "1024M"
        - name: PHP_UPLOAD_LIMIT
          value: "10G"
      extraInitContainers:
        - name: init-db
          image: ghcr.io/caycehouse/postgres-init:16
          envFrom:
            - secretRef:
                name: *secret
      mail:
        enabled: true
        fromAddress: nextcloud
        domain: housefam.casa
        smtp:
          authtype: NONE
          port: 25
          secure: ""
    ingress:
      annotations:
        external-dns.alpha.kubernetes.io/target: ipv4.housefam.casa
        external-dns.alpha.kubernetes.io/cloudflare-proxied: "false"
        gethomepage.dev/enabled: "true"
        gethomepage.dev/href: "https://nc.housefam.casa"
        gethomepage.dev/description: Self-hosted file sharing
        gethomepage.dev/group: Storage
        gethomepage.dev/icon: nextcloud
        gethomepage.dev/name: Nextcloud
        nginx.ingress.kubernetes.io/enable-cors: "true"
        nginx.ingress.kubernetes.io/cors-allow-headers: "X-Forwarded-For, X-Real-IP, X-Frame-Options, X-Content-Type-Options, X-Forwarded-Proto"
        nginx.ingress.kubernetes.io/proxy-body-size: "16G"
        nginx.ingress.kubernetes.io/proxy-buffering: "off"
        nginx.ingress.kubernetes.io/proxy-request-buffering: "off"
        nginx.ingress.kubernetes.io/server-snippet: |-
          server_tokens off;
          proxy_hide_header X-Powered-By;
          rewrite ^/.well-known/webfinger /index.php/.well-known/webfinger last;
          rewrite ^/.well-known/nodeinfo /index.php/.well-known/nodeinfo last;
          rewrite ^/.well-known/host-meta /public.php?service=host-meta last;
          rewrite ^/.well-known/host-meta.json /public.php?service=host-meta-json;
          location = /.well-known/carddav {
            return 301 $scheme://$host/remote.php/dav;
          }
          location = /.well-known/caldav {
            return 301 $scheme://$host/remote.php/dav;
          }
          location = /robots.txt {
            allow all;
            log_not_found off;
            access_log off;
          }
          location ~ ^/(?:build|tests|config|lib|3rdparty|templates|data)/ {
            deny all;
          }
          location ~ ^/(?:autotest|occ|issue|indie|db_|console) {
            deny all;
          }
      className: external
      enabled: true
    internalDatabase:
      enabled: false
    persistence:
      enabled: true
      existingClaim: nextcloud
      nextcloudData:
        enabled: true
        existingClaim: "nextcloud-data"
    resources:
      requests:
        cpu: 200m
      limits:
        memory: 5Gi
    startupProbe:
      enabled: true
      initialDelaySeconds: 5
      periodSeconds: 10
      timeoutSeconds: 5
      failureThreshold: 360
      successThreshold: 1
    livenessProbe:
      enabled: true
      initialDelaySeconds: 5
      periodSeconds: 10
      timeoutSeconds: 5
      failureThreshold: 3
      successThreshold: 1
    readinessProbe:
      enabled: true
      initialDelaySeconds: 5
      periodSeconds: 10
      timeoutSeconds: 5
      failureThreshold: 3
      successThreshold: 1
