# {{ ansible_managed }}
---

services:
  atm8:
    image: itzg/minecraft-server:2023.8.3-java17@sha256:be0009a3fe305404f54051c23e1a9c3e5fad8faefc9c41997bd16221059e8dca
    container_name: atm8
    ports:
      - 25565:25565
    environment:
      ALLOW_FLIGHT: "true"
      CF_API_KEY: "{{ cf_api_key }}"
      CF_FILENAME_MATCHER: "1.0.19"
      CF_SLUG: "all-the-mods-8"
      DIFFICULTY: "hard"
      ENABLE_ROLLING_LOGS: "true"
      EULA: "true"
      FORCE_GAMEMODE: "true"
      MAX_PLAYERS: "10"
      MAX_TICK_TIME: "180000"
      MEMORY: "4G"
      MOTD: "All the Mods 8 | 1.0.19b"
      OPS: "FryyourBacon"
      OVERRIDE_SERVER_PROPERTIES: "true"
      SPAWN_PROTECTION: "0"
      SNOOPER_ENABLED: "false"
      SIMULATION_DISTANCE: "4"
      SYNC_CHUNK_WRITES: "false"
      TYPE: "AUTO_CURSEFORGE"
      USE_AIKAR_FLAGS: "true"
      VIEW_DISTANCE: "7"
    tty: true
    stdin_open: true
    networks:
      - default
    volumes:
      - ./data:/data
      - /etc/timezone:/etc/timezone:ro
    healthcheck:
      test: mc-health
      start_period: 7m
      interval: 5s
      retries: 20
    restart: always
networks:
  default:
    driver_opts:
      com.docker.network.driver.mtu: 1280
