# {{ ansible_managed }}
---

services:
  atm8:
    image: itzg/minecraft-server:java17@sha256:cc6e7f863a39648b56f31525f013ba1cbb1a86fea60c29e944e6919d147d56eb
    container_name: atm8
    ports:
      - 25565:25565
    environment:
      CF_API_KEY: "{{ cf_api_key }}"
      CF_PAGE_URL: https://www.curseforge.com/minecraft/modpacks/all-the-mods-8
      CF_FILENAME_MATCHER: "1.0.15"
      ENABLE_ROLLING_LOGS: "true"
      EULA: "true"
      MEMORY: 4G
      TYPE: AUTO_CURSEFORGE
      TZ: "America/New_York"
      USE_AIKAR_FLAGS: "true"
      VERSION: 1.19.2
    tty: true
    stdin_open: true
    networks:
      - default
    volumes:
      - ./data:/data
    healthcheck:
      test: mc-health
      start_period: 7m
      interval: 5s
      retries: 20
    restart: always
networks:
  default:
    driver_opts:
      com.docker.network.driver.mtu: 1280
