# {{ ansible_managed }}
---

services:
  calibre:
    image: lscr.io/linuxserver/calibre:7.5.1@sha256:7c98c0a2c7ba1aba16d2f3f4aa9fd2a67798567d42db24a27f255df22356ea2b
    container_name: calibre
    environment:
      PUID: "{{ user_id }}"
      PGID: "{{ group_id }}"
    networks:
      - tunnel
    volumes:
      - ./calibre-config:/config
      - ./calibre-uploads:/uploads
      - ./calibre-plugins:/plugins
      - ./books:/Calibre_Library
      - /etc/timezone:/etc/timezone:ro
    labels:
      # Homepage
      - homepage.group=Reading
      - homepage.name=Calibre
      - homepage.icon=calibre
      - homepage.href=https://calibre.caycehouse.com
      - homepage.description=An eBook Manager
      # AutoKuma
      - kuma.calibre.docker.name=Calibre
      - kuma.calibre.docker.docker_container=calibre
      - kuma.calibre.docker.docker_host=1
    restart: unless-stopped

  calibre-web:
    image: lscr.io/linuxserver/calibre-web:0.6.21@sha256:811945ab2c32d41643a79510a9aa83de23f1085444c1d0e199139b4427e5c637
    container_name: calibre-web
    environment:
      - DOCKER_MODS=linuxserver/mods:universal-calibre
      - PUID="{{ user_id }}"
      - PGID="{{ group_id }}"
    networks:
      - tunnel
    volumes:
      - ./calibre-web-config:/config
      - ./books:/books
      - /etc/timezone:/etc/timezone:ro
    restart: unless-stopped
    labels:
      # Homepage
      - homepage.group=Reading
      - homepage.name=Calibre-Web
      - homepage.icon=calibre-web
      - homepage.href=https://calibre-web.caycehouse.com
      - homepage.description=An eBook Library
      # AutoKuma
      - kuma.calibre-web.docker.name=Calibre-Web
      - kuma.calibre-web.docker.docker_container=calibre-web
      - kuma.calibre-web.docker.docker_host=1

networks:
  tunnel:
    external: true
