# {{ ansible_managed }}
---

services:
  code-server:
    image: lscr.io/linuxserver/code-server:4.22.1@sha256:423925c136bc8fc31bed6b263cee8db785d2d21a2f54f6a81aa1ed5d5dd93d29
    container_name: code-server
    environment:
      # https://github.com/tailscale-dev/docker-mod/issues/19
      DOCKER_MODS: gauravsuman007/tailscale-docker-mod:latest|linuxserver/mods:code-server-python3
      PUID: "{{ user_id }}"
      PGID: "{{ group_id }}"
      SUDO_PASSWORD: "{{ code_server.sudo_password }}"
      TZ: America/New_York
      # tailscale information
      TAILSCALE_STATE_DIR: /var/lib/tailscale
      TAILSCALE_HOSTNAME: code
      TAILSCALE_AUTHKEY: "{{ tailscale_authkey }}"
    volumes:
      - ./config:/config
      - ./var-lib-tailscale:/var/lib/tailscale
    networks:
      - tunnel
    restart: unless-stopped
    labels:
      # Homepage
      - homepage.group=Utilities
      - homepage.name=code-server
      - homepage.icon=code-server
      - homepage.href=https://code-server.caycehouse.com
      - homepage.description=Code anywhere
      # AutoKuma
      - kuma.code-server.docker.name=code-server
      - kuma.code-server.docker.docker_container=code-server
      - kuma.code-server.docker.docker_host=1

networks:
  tunnel:
    external: true
