# {{ ansible_managed }}
---

services:
  code-server:
    image: lscr.io/linuxserver/code-server:4.20.0@sha256:b0b0ac36d4e0b7c77ae05a477c221925b6f674b4fc878b8016c16f1c44ad54f9
    environment:
      # https://github.com/tailscale-dev/docker-mod/issues/19
      DOCKER_MODS: gauravsuman007/tailscale-docker-mod:latest|linuxserver/mods:code-server-python3
      PGID: 1002
      PUID: 1002
      SUDO_PASSWORD: "{{ code_server.sudo_password }}"
      TZ: America/New_York
      # tailscale information
      TAILSCALE_STATE_DIR: /var/lib/tailscale
      TAILSCALE_HOSTNAME: code
      TAILSCALE_AUTHKEY: "{{ tailscale_authkey }}"
    volumes:
      - ./config:/config
      - ./var-lib-tailscale:/var/lib/tailscale
    networks:
      - tunnel
    labels:
      - homepage.group=Utilities
      - homepage.name=code-server
      - homepage.icon=code-server
      - homepage.href=https://code-server.caycehouse.com
      - homepage.description=Code anywhere
networks:
  tunnel:
    external: true
