# {{ ansible_managed }}
---

services:
  changedetection:
    image: ghcr.io/dgtlmoon/changedetection.io:0.45.12@sha256:a4106d648125d942d966b2ab480e812c5ddf50b38976d398856cf06e691a5000
    container_name: changedetection
    hostname: changedetection
    environment:
      - PLAYWRIGHT_DRIVER_URL=ws://playwright-chrome:3000/?stealth=1&--disable-web-security=true
    networks:
      - internal
      - tunnel
    volumes:
      - ./datastore:/datastore
    restart: always
    labels:
      - homepage.group=Utilities
      - homepage.name=changedetection.io
      - homepage.icon=changedetection-io
      - homepage.href=https://changedetection.caycehouse.com
      - homepage.description=Website change detection
    depends_on:
      playwright-chrome:
        condition: service_started

  playwright-chrome:
    hostname: playwright-chrome
    image: browserless/chrome:1.60-chrome-stable@sha256:7db5e3aad20c201abaa03bbbc868a55ef96574cda0e67ccb7e4e032053ecb87d
    environment:
      - SCREEN_WIDTH=1920
      - SCREEN_HEIGHT=1024
      - SCREEN_DEPTH=16
      - ENABLE_DEBUGGER=false
      - PREBOOT_CHROME=true
      - CONNECTION_TIMEOUT=300000
      - MAX_CONCURRENT_SESSIONS=10
      - CHROME_REFRESH_TIME=600000
      - DEFAULT_STEALTH=true

      # Ignore HTTPS errors, like for self-signed certs
      - DEFAULT_IGNORE_HTTPS_ERRORS=true
    networks:
      - internal
    restart: always

networks:
  internal:
  tunnel:
    external: true
