# {{ ansible_managed }}
---

services:
  changedetection:
    image: ghcr.io/dgtlmoon/changedetection.io:0.45.14@sha256:f563f6448e586e5259cd672aee017d874a5e9ed0305b1e9e273fd070a43a27da
    container_name: changedetection
    hostname: changedetection
    environment:
      - PLAYWRIGHT_DRIVER_URL=ws://playwright-chrome:3000/?stealth=1&--disable-web-security=true
    networks:
      - internal
      - tunnel
    volumes:
      - ./datastore:/datastore
    restart: always
    labels:
      # Homepage
      - homepage.group=Utilities
      - homepage.name=changedetection.io
      - homepage.icon=changedetection-io
      - homepage.href=https://changedetection.caycehouse.com
      - homepage.description=Website change detection
      # AutoKuma
      - kuma.changedetection.docker.name=changedetection.io
      - kuma.changedetection.docker.docker_container=changedetection
      - kuma.changedetection.docker.docker_host=1
    depends_on:
      playwright-chrome:
        condition: service_started

  playwright-chrome:
    hostname: playwright-chrome
    image: browserless/chrome:1.61-chrome-stable@sha256:efac47cfff3830d9a50b27d29f8bbb61949058ae336c823fbe9bd3c0d1debcc8
    environment:
      - SCREEN_WIDTH=1920
      - SCREEN_HEIGHT=1024
      - SCREEN_DEPTH=16
      - ENABLE_DEBUGGER=false
      - PREBOOT_CHROME=true
      - CONNECTION_TIMEOUT=300000
      - MAX_CONCURRENT_SESSIONS=10
      - CHROME_REFRESH_TIME=600000
      - DEFAULT_STEALTH=true

      # Ignore HTTPS errors, like for self-signed certs
      - DEFAULT_IGNORE_HTTPS_ERRORS=true
    networks:
      - internal
    restart: always

networks:
  internal:
  tunnel:
    external: true
