# {{ ansible_managed }}
---

services:
  changedetection:
    image: ghcr.io/dgtlmoon/changedetection.io:0.45.16@sha256:247558ea5d24509fbd77a04de7c3c9a6b0938b859c1c4e5d73830f0393c5b37e
    container_name: changedetection
    hostname: changedetection
    environment:
      - PLAYWRIGHT_DRIVER_URL=ws://playwright-chrome:3000/?stealth=1&--disable-web-security=true
    networks:
      - internal
      - tunnel
    volumes:
      - ./datastore:/datastore
    restart: unless-stopped
    labels:
      # Homepage
      - homepage.group=Utilities
      - homepage.name=changedetection.io
      - homepage.icon=changedetection-io
      - homepage.href=https://changedetection.caycehouse.com
      - homepage.description=Website change detection
      # AutoKuma
      - kuma.changedetection.docker.name=changedetection.io
      - kuma.changedetection.docker.docker_container=changedetection
      - kuma.changedetection.docker.docker_host=1
    depends_on:
      playwright-chrome:
        condition: service_started

  playwright-chrome:
    hostname: playwright-chrome
    image: browserless/chrome:1.61-chrome-stable@sha256:efac47cfff3830d9a50b27d29f8bbb61949058ae336c823fbe9bd3c0d1debcc8
    environment:
      - SCREEN_WIDTH=1920
      - SCREEN_HEIGHT=1024
      - SCREEN_DEPTH=16
      - ENABLE_DEBUGGER=false
      - PREBOOT_CHROME=true
      - CONNECTION_TIMEOUT=300000
      - MAX_CONCURRENT_SESSIONS=10
      - CHROME_REFRESH_TIME=600000
      - DEFAULT_STEALTH=true

      # Ignore HTTPS errors, like for self-signed certs
      - DEFAULT_IGNORE_HTTPS_ERRORS=true
    networks:
      - internal
    restart: unless-stopped

networks:
  internal:
  tunnel:
    external: true
