# {{ ansible_managed }}
---

services:
  monica:
    image: monica:4.0.0@sha256:6050bc545b0492cfaa419e1b1ac115b925dd22618b57511170d4b6497be858bb
    depends_on:
      - db
    environment:
      APP_ENV: production
      APP_KEY: {{ monica.app_key }}
      DB_HOST: db
      DB_DATABASE: monica
      DB_USERNAME: {{ monica.mysql_user }}
      DB_PASSWORD: {{ monica.mysql_password }}
      LOG_CHANNEL: stderr
      CACHE_DRIVER: database
      SESSION_DRIVER: database
      QUEUE_DRIVER: sync
      MAIL_MAILER: smtp
      MAIL_HOST: smtp.sendgrid.net
      MAIL_PORT: 587
      MAIL_USERNAME: apikey
      MAIL_PASSWORD: {{ monica.mail_password }}
      MAIL_ENCRYPTION: tls
      MAIL_FROM_ADDRESS: no-reply@homelab.caycehouse.com
      MAIL_FROM_NAME: Monica
    volumes:
      - ./var-www-html-storage:/var/www/html/storage
    networks:
      - internal
      - tunnel
    restart: always
  db:
    image: mysql:8.0.33@sha256:aef2d0913b9b80137937b9070896c6c283c285fdf5457ae576bbd5cd05608a77
    environment:
      MYSQL_RANDOM_ROOT_PASSWORD: "true"
      MYSQL_DATABASE: monica
      MYSQL_USER: {{ monica.mysql_user }}
      MYSQL_PASSWORD: {{ monica.mysql_password }}
    volumes:
      - ./var-lib-mysql:/var/lib/mysql
    networks:
      - internal
    restart: always
networks:
  tunnel:
    external: true
  internal:
