# {{ ansible_managed }}
---

services:
  monica:
    image: monica:4.0.0@sha256:9cb427bf9e356da2e593388318c7f51ac6de51daa8d96a541033a855d54172b5
    depends_on:
      - db
    environment:
      APP_ENV: production
      APP_KEY: {{ monica.app_key }}
      DB_HOST: db
      DB_DATABASE: monica
      DB_USERNAME: {{ monica.mysql_user }}
      DB_PASSWORD: {{ monica.mysql_password }}
      LOG_CHANNEL: stderr
      CACHE_DRIVER: database
      SESSION_DRIVER: database
      QUEUE_DRIVER: sync
      MAIL_MAILER: smtp
      MAIL_HOST: smtp.sendgrid.net
      MAIL_PORT: 587
      MAIL_USERNAME: apikey
      MAIL_PASSWORD: {{ monica.mail_password }}
      MAIL_ENCRYPTION: tls
      MAIL_FROM_ADDRESS: no-reply@homelab.caycehouse.com
      MAIL_FROM_NAME: Monica
    volumes:
      - ./var-www-html-storage:/var/www/html/storage
    networks:
      - internal
      - tunnel
    restart: always
  db:
    image: mysql:8.0.33@sha256:4bae98614cd6ad1aecbdd32ff1b37b93fb0ee22b069469e7bc9679bacef1abd2
    environment:
      MYSQL_RANDOM_ROOT_PASSWORD: "true"
      MYSQL_DATABASE: monica
      MYSQL_USER: {{ monica.mysql_user }}
      MYSQL_PASSWORD: {{ monica.mysql_password }}
    volumes:
      - ./var-lib-mysql:/var/lib/mysql
    networks:
      - internal
    restart: always
networks:
  tunnel:
    external: true
  internal:
