# {{ ansible_managed }}
---

services:
  free-games-claimer:
    container_name: fgc
    image: ghcr.io/vogler/free-games-claimer:main@sha256:badfa00ff338939ad6a8ebe7d67dad98fea19746fedf88885e51215ec8e386f2
    volumes:
      - ./fgc-data:/fgc/data
    environment:
      - EMAIL={{ free_games_claimer.email }}
      - EG_PASSWORD={{ free_games_claimer.eg_password }}
      - EG_OTPKEY={{ free_games_claimer.eg_otpkey }}
      - PG_PASSWORD={{ free_games_claimer.pg_password }}
      - PG_OTPKEY={{ free_games_claimer.pg_otpkey }}
      - PG_REDEEM=1
      - PG_CLAIMDLC=1
      - GOG_PASSWORD={{ free_games_claimer.gog_password }}
      - NOTIFY={{ free_games_claimer.notify }}
      - WIDTH=1920
      - HEIGHT=1080
    networks:
      - tunnel
    labels:
      # Homepage
      - homepage.group=Utilities
      - homepage.name=free-games-claimer
      - homepage.icon=mdi-gamepad
      - homepage.href=https://fgc.caycehouse.com
      - homepage.description=Free games claimer
      # AutoKuma
      - kuma.fgc.docker.name=free-games-claimer
      - kuma.fgc.docker.docker_container=fgc
      - kuma.fgc.docker.docker_host=1

networks:
  tunnel:
    external: true
