# {{ ansible_managed }}
---

services:
  free-games-claimer:
    container_name: fgc
    image: ghcr.io/vogler/free-games-claimer:main@sha256:59799ad60bc5ed1b40c71e6a6d4a9dd415d19ee5990975a7a4ca3b7961d822d8
    volumes:
      - ./fgc-data:/fgc/data
    environment:
      - EMAIL={{ free_games_claimer.email }}
      - EG_PASSWORD={{ free_games_claimer.eg_password }}
      - EG_OTPKEY={{ free_games_claimer.eg_otpkey }}
      - PG_PASSWORD={{ free_games_claimer.pg_password }}
      - PG_OTPKEY={{ free_games_claimer.pg_otpkey }}
      - PG_REDEEM=1
      - PG_CLAIMDLC=1
      - GOG_PASSWORD={{ free_games_claimer.gog_password }}
      - NOTIFY={{ free_games_claimer.notify }}
      - WIDTH=1920
      - HEIGHT=1080
    networks:
      - tunnel
    labels:
      # Homepage
      - homepage.group=Utilities
      - homepage.name=free-games-claimer
      - homepage.icon=mdi-gamepad
      - homepage.href=https://fgc.caycehouse.com
      - homepage.description=Free games claimer
      # AutoKuma
      - kuma.fgc.docker.name=free-games-claimer
      - kuma.fgc.docker.docker_container=fgc
      - kuma.fgc.docker.docker_host=1

networks:
  tunnel:
    external: true
