# {{ ansible_managed }}
---

services:
  free-games-claimer:
    container_name: fgc
    image: ghcr.io/vogler/free-games-claimer:main@sha256:0176af63b714ca58c5aa1224b68ae991e629ea92d14bbe9c7a5f7c46495417a7
    volumes:
      - ./fgc-data:/fgc/data
    environment:
      - EMAIL={{ free_games_claimer.email }}
      - EG_PASSWORD={{ free_games_claimer.eg_password }}
      - EG_OTPKEY={{ free_games_claimer.eg_otpkey }}
      - PG_PASSWORD={{ free_games_claimer.pg_password }}
      - PG_OTPKEY={{ free_games_claimer.pg_otpkey }}
      - PG_REDEEM=1
      - PG_CLAIMDLC=1
      - GOG_PASSWORD={{ free_games_claimer.gog_password }}
      - NOTIFY={{ free_games_claimer.notify }}
      - WIDTH=1920
      - HEIGHT=1080
    networks:
      - tunnel
networks:
  tunnel:
    external: true
