# {{ ansible_managed }}
---

services:
  free-games-claimer:
    container_name: fgc
    image: ghcr.io/vogler/free-games-claimer:latest@sha256:209171a3f967758e33a2b6be2bf917444f761eadb6cb51043a76703ed8123f95
    volumes:
      - ./fgc-data:/fgc/data
    environment:
      - EMAIL={{ free_games_claimer.email }}
      - EG_PASSWORD={{ free_games_claimer.eg_password }}
      - EG_OTPKEY={{ free_games_claimer.eg_otpkey }}
      - PG_PASSWORD={{ free_games_claimer.pg_password }}
      - PG_OTPKEY={{ free_games_claimer.pg_otpkey }}
      - PG_REDEEM=1
      - GOG_PASSWORD={{ free_games_claimer.gog_password }}
      - NOTIFY={{ free_games_claimer.notify }}
    networks:
      - traefik_public
    labels:
      - "traefik.docker.network=traefik_public"
      - "traefik.http.routers.fgc.rule=Host(`fgc.caycehouse.com`)"
      - "traefik.http.routers.fgc.entrypoints=websecure"
      - "traefik.http.services.fgc.loadbalancer.server.port=6080"
      - "traefik.enable=true"
networks:
  traefik_public:
    external: true
