# {{ ansible_managed }}
---

services:
  free-games-claimer:
    container_name: fgc
    image: ghcr.io/vogler/free-games-claimer:latest@sha256:68390e83b38ed5ac8743c90972081a697b7b28dac7dfb35dc37303c5615594c5
    volumes:
      - ./fgc-data:/fgc/data
    environment:
      - EMAIL={{ free_games_claimer.email }}
      - EG_PASSWORD={{ free_games_claimer.eg_password }}
      - EG_OTPKEY={{ free_games_claimer.eg_otpkey }}
      - PG_PASSWORD={{ free_games_claimer.pg_password }}
      - PG_OTPKEY={{ free_games_claimer.pg_otpkey }}
      - PG_REDEEM=1
      - GOG_PASSWORD={{ free_games_claimer.gog_password }}
      - NOTIFY={{ free_games_claimer.notify }}
    networks:
      - tunnel
networks:
  tunnel:
    external: true
