---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: twitchdropsminer
spec:
  interval: 1h
  chartRef:
    kind: OCIRepository
    name: app-template
    namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    controllers:
      twitchdropsminer:
        replicas: 1
        pod:
          annotations:
            reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/valentin-metz/twitchdropsminer
              tag: master@sha256:04673d9c374ac35daa31fc46be85eff7011ecda80311b490d9666c9bb7105abd
            resources:
              requests:
                cpu: 25m
              limits:
                memory: 768Mi
            args: ['./startup.sh']
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  exec:
                    command:
                      - /bin/sh
                      - -c
                      - /TwitchDropsMiner/healthcheck.sh
                  initialDelaySeconds: 60
                  periodSeconds: 10
                  timeoutSeconds: 5
                  successThreshold: 1
                  failureThreshold: 3
              readiness: *probes
    persistence:
      config-file:
        type: configMap
        name: twitchdropsminer-config
        globalMounts:
          - subPath: settings.json
            path: /TwitchDropsMiner/settings.json.import
          - subPath: startup.sh
            path: /TwitchDropsMiner/startup.sh
        defaultMode: 0777
      secret-file:
        type: secret
        name: twitchdropsminer-secret
        globalMounts:
          - subPath: cookies.jar
            path: /TwitchDropsMiner/cookies.jar.import
