---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: twitchdropsminer
spec:
  chartRef:
    kind: OCIRepository
    name: twitchdropsminer
  interval: 1h
  values:
    controllers:
      twitchdropsminer:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/journeydocker/twitchdropsminer
              tag: main@sha256:4b152da0a566f2e5a6add98b695fec332b7bca8506efc4223ec5c179512b8e07
            env:
              UNLINKED_CAMPAIGNS: 1
            resources:
              requests:
                cpu: 25m
              limits:
                memory: 768Mi
            args:
              - ./startup.sh
            probes:
              liveness: &probes
                enabled: true
                custom: true
                spec:
                  exec:
                    command:
                      - /bin/sh
                      - -c
                      - /TwitchDropsMiner/healthcheck.sh
                  initialDelaySeconds: 60
                  periodSeconds: 10
                  timeoutSeconds: 5
                  successThreshold: 1
                  failureThreshold: 3
              readiness: *probes
    persistence:
      config-file:
        type: configMap
        name: "{{ .Release.Name }}-configmap"
        globalMounts:
          - subPath: settings.json
            path: /TwitchDropsMiner/settings.json.import
          - subPath: startup.sh
            path: /TwitchDropsMiner/startup.sh
        defaultMode: 0777
      secret-file:
        type: secret
        name: "{{ .Release.Name }}-secret"
        globalMounts:
          - subPath: cookies.jar
            path: /TwitchDropsMiner/cookies.jar.import
