#cloud-config
hostname: "{{ item | default(template_os_name) }}"
manage_etc_hosts: true
fqdn: "{{ item | default(template_os_name) }}.localdomain"
user: "{{ template_user }}"
password: "{{ template_password }}"
ssh_authorized_keys:
  - "{{ template_ssh_key }}"
chpasswd:
  expire: False
users:
  - default
package_upgrade: true
runcmd:
  - ['sh', '-c', 'curl -fsSL https://tailscale.com/install.sh | sh']
  - ['tailscale', 'up', "--authkey={{ tailscale_auth_key }}"]