# {{ ansible_managed }}
---

services:
  portainer:
    image: portainer/portainer-ce:2.18.4-alpine@sha256:3e61aaee13417b32ef78813ae5e77caf0db92c56df803a7b765b42a110950d69
    container_name: portainer
    extra_hosts:
      - "host.docker.internal:host-gateway"
    volumes:
      - ./data:/data
    ports:
      - "9443:9443"
    networks:
      - internal
      - tunnel
    restart: always
networks:
  tunnel:
    external: true
  internal:
    driver: bridge
    driver_opts:
      com.docker.network.driver.mtu: 1280
