# {{ ansible_managed }}
---

services:
  portainer:
    image: portainer/portainer-ce:2.19.4-alpine@sha256:214cb7f6c4034420d4f74de81492bf8fddede0677d2f12171955e075ac2ac341
    container_name: portainer
    extra_hosts:
      - "host.docker.internal:host-gateway"
    volumes:
      - ./data:/data
    ports:
      - "9443:9443"
    networks:
      - internal
      - tunnel
    restart: always
networks:
  tunnel:
    external: true
  internal:
    driver: bridge
    driver_opts:
      com.docker.network.driver.mtu: 1280
