# {{ ansible_managed }}
---

services:
  portainer:
    image: portainer/portainer-ce:2.19.1-alpine@sha256:4513a3ba9ab575e9e2fe0dd67574c6904a0753badd138e78a8e6b84b61411222
    container_name: portainer
    extra_hosts:
      - "host.docker.internal:host-gateway"
    volumes:
      - ./data:/data
    ports:
      - "9443:9443"
    networks:
      - internal
      - tunnel
    restart: always
networks:
  tunnel:
    external: true
  internal:
    driver: bridge
    driver_opts:
      com.docker.network.driver.mtu: 1280
