# {{ ansible_managed }}
---

services:
  portainer_agent:
    image: portainer/agent:2.18.2-alpine@sha256:6dd2d151b31c720f77228b1ac510aec29f8b00c08139858f540b8ab7a3b0ae70
    container_name: portainer_agent
    volumes:
      - /var/lib/docker/volumes:/var/lib/docker/volumes
      - /var/run/docker.sock:/var/run/docker.sock
    ports:
      - 9001:9001
    networks:
      - default
    restart: always
networks:
  default:
    driver: bridge
    driver_opts:
      com.docker.network.driver.mtu: 1280
