# {{ ansible_managed }}
---

services:
  broker:
    image: docker.io/library/redis:7@sha256:5799ed6f60e1a501204a51e3b1b95b1648fe570562b883b69234f11e9816994b
    container_name: paperless-ngx_broker
    restart: unless-stopped
    volumes:
      - ./redis-data:/data
    networks:
      - internal

  db:
    image: postgres:16.1@sha256:f7039b454d9dcb8796bada8390e94ff09f89bfdfcfd7e134bd28e3de672dd5e6
    container_name: paperless-ngx_db
    restart: unless-stopped
    volumes:
      - ./pg-data:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: paperless
      POSTGRES_USER: paperless
      POSTGRES_PASSWORD: paperless
    networks:
      - internal

  paperless-ngx:
    image: ghcr.io/paperless-ngx/paperless-ngx:latest@sha256:839cabc0c5859a844c72940468e700f668bb59c16743fd9e81d5e21845488a85
    container_name: paperless-ngx
    restart: unless-stopped
    depends_on:
      - db
      - broker
    healthcheck:
      test:
        [
          "CMD",
          "curl",
          "-fs",
          "-S",
          "--max-time",
          "2",
          "http://localhost:8000"
        ]
      interval: 30s
      timeout: 10s
      retries: 5
    volumes:
      - ./data:/usr/src/paperless/data
      - ./media:/usr/src/paperless/media
      - ./export:/usr/src/paperless/export
      - ./consume:/usr/src/paperless/consume
    env_file: docker-compose.env
    environment:
      PAPERLESS_REDIS: redis://broker:6379
      PAPERLESS_DBHOST: db
    networks:
      - tunnel
      - internal
    labels:
      # Homepage
      - homepage.group=Utilities
      - homepage.name=Paperless-ngx
      - homepage.icon=paperless-ngx
      - homepage.href=https://paperless.caycehouse.com
      - homepage.description=Document management system
      # AutoKuma
      - kuma.paperless-ngx.docker.name=Paperless-ngx
      - kuma.paperless-ngx.docker.docker_container=paperless-ngx
      - kuma.paperless-ngx.docker.docker_host=1

networks:
  internal:
  tunnel:
    external: true
