machine:
  network:
    hostname: k8s-0
  install:
    diskSelector:
      model: PC SN520 NVMe WDC 256GB
    image: factory.talos.dev/installer/039535a70c3bd1667c355eca78571267704e55c8a24785033d183b8f26e39d82:{{ ENV.TALOS_VERSION }}
