machine:
  network:
    hostname: k8s-2
  install:
    diskSelector:
      model: CL1-3D256-Q11 NVMe SSSTC 256GB
    image: factory.talos.dev/installer/b7702dcc9325d40db023b174e7afce05fa626558850701db8658572357135058:{{ ENV.TALOS_VERSION }}
