---
machine:
  install:
    diskSelector:
      model: PNY CS2140 500GB SSD
  network:
    hostname: k8s-3
    interfaces:
      - interface: bond0
        bond:
          deviceSelectors:
            - hardwareAddr: 00:e0:4c:68:*
              driver: r8169
          mode: active-backup
        mtu: 9000
        dhcp: true
        vlans:
          - {dhcp: false, mtu: 9000, vlanId: 10}
          - {dhcp: false, mtu: 9000, vlanId: 70}
  nodeLabels:
    intel.feature.node.kubernetes.io/gpu: "true"
    topology.kubernetes.io/zone: w
  type: worker
---
apiVersion: v1alpha1
kind: WatchdogTimerConfig
device: /dev/watchdog0
timeout: 5m
