---
machine:
  type: controlplane
  install:
    diskSelector:
      model: PM991 NVMe Samsung 256GB
  nodeLabels:
    topology.kubernetes.io/zone: m
---
apiVersion: v1alpha1
kind: HostnameConfig
hostname: k8s-1
