---
machine:
  install:
    diskSelector:
      model: CL1-3D256-Q11 NVMe SSSTC 256GB
  network:
    hostname: k8s-2
    interfaces:
      - interface: bond0
        vip:
          ip: 192.168.42.120
  nodeLabels:
    topology.kubernetes.io/zone: m
  type: controlplane
