---
machine:
  install:
    diskSelector:
      model: PC SN520 NVMe WDC 256GB
  nodeLabels:
    topology.kubernetes.io/zone: m
  type: controlplane
---
apiVersion: v1alpha1
kind: HostnameConfig
hostname: k8s-0
