# {{ ansible_managed }}
---

services:
  monica:
    image: monica:4.0.0@sha256:b61c1d753362debbe1a7993541bdfefa85b85e58b5cc010795f07048277125a7
    container_name: monica
    depends_on:
      - db
    environment:
      APP_ENV: production
      APP_KEY: {{ monica.app_key }}
      DB_HOST: db
      DB_DATABASE: monica
      DB_USERNAME: {{ monica.mysql_user }}
      DB_PASSWORD: {{ monica.mysql_password }}
      LOG_CHANNEL: stderr
      CACHE_DRIVER: database
      SESSION_DRIVER: database
      QUEUE_DRIVER: sync
      MAIL_MAILER: smtp
      MAIL_HOST: smtp.sendgrid.net
      MAIL_PORT: 587
      MAIL_USERNAME: apikey
      MAIL_PASSWORD: {{ monica.mail_password }}
      MAIL_ENCRYPTION: tls
      MAIL_FROM_ADDRESS: no-reply@homelab.caycehouse.com
      MAIL_FROM_NAME: Monica
    volumes:
      - ./var-www-html-storage:/var/www/html/storage
    networks:
      - internal
      - tunnel
    restart: unless-stopped
    labels:
      # Homepage
      - homepage.group=Utilities
      - homepage.name=Monica
      - homepage.icon=monica
      - homepage.href=https://monica.caycehouse.com
      - homepage.description=Open source personal CRM
      # AutoKuma
      - kuma.monica.docker.name=Monica
      - kuma.monica.docker.docker_container=monica
      - kuma.monica.docker.docker_host=1

  db:
    image: mysql:8.3.0@sha256:2a9ef1075ff30c65bbcf4f96b25a03ea3b3f492c284e6c4a612c269ce4c5bb19
    environment:
      MYSQL_RANDOM_ROOT_PASSWORD: "true"
      MYSQL_DATABASE: monica
      MYSQL_USER: {{ monica.mysql_user }}
      MYSQL_PASSWORD: {{ monica.mysql_password }}
    volumes:
      - ./var-lib-mysql:/var/lib/mysql
    networks:
      - internal
    restart: unless-stopped

networks:
  tunnel:
    external: true
  internal:
