---
# yaml-language-server: $schema=https://k8s-skeemahs.pages.dev/monitoring.coreos.com/probe_v1.json
apiVersion: monitoring.coreos.com/v1
kind: Probe
metadata:
  name: icmp
spec:
  module: icmp
  prober:
    url: blackbox-exporter.observability.svc.cluster.local:9115
  targets:
    staticConfig:
      static:
        - bakery.internal
        - k8s-0.internal
        - k8s-1.internal
        - k8s-2.internal
        - octopi.internal
        - zigbee-controller.internal
  metricRelabelings:
    - targetLabel: service
      replacement: blackbox-exporter
      action: replace
---
# yaml-language-server: $schema=https://k8s-skeemahs.pages.dev/monitoring.coreos.com/probe_v1.json
apiVersion: monitoring.coreos.com/v1
kind: Probe
metadata:
  name: tcp
spec:
  module: tcp_connect
  prober:
    url: blackbox-exporter.observability.svc.cluster.local:9115
  targets:
    staticConfig:
      static:
        - bakery.internal:2049
  metricRelabelings:
    - targetLabel: service
      replacement: blackbox-exporter
      action: replace
