# {{ ansible_managed }}
---

services:
  twitchdropsminer:
    image: ghcr.io/valentin-metz/twitchdropsminer:master@sha256:061ebf6c544ba380d1000caeb28a39d126f5040cd6bd86c794549ab0f06d534e
    container_name: twitchdropsminer
    volumes:
      - ./cookies.jar:/TwitchDropsMiner/cookies.jar
      - ./settings.json:/TwitchDropsMiner/settings.json:ro
    restart: always
    tty: true
    stdin_open: true
