# {{ ansible_managed }}
---

services:
  twitchdropsminer:
    image: ghcr.io/valentin-metz/twitchdropsminer:master@sha256:68f8ffa6265645feab09fe37afe7fed2b759464611549ce3d1f13b78a83fd6a9
    container_name: twitchdropsminer
    volumes:
      - ./cookies.jar:/TwitchDropsMiner/cookies.jar
      - ./settings.json:/TwitchDropsMiner/settings.json:ro
    restart: always
    tty: true
    stdin_open: true
