# {{ ansible_managed }}
---

services:
  valheim:
    image: ghcr.io/lloesche/valheim-server:latest@sha256:97404ab536d435f9f71f4775a68d3ff1f95ddfd6b5618b1e3954c3515ac223ac
    cap_add:
      - sys_nice
    container_name: valheim
    environment:
      BACKUPS: "false"
      SERVER_NAME: "The Fryer's Valheim Server"
      SERVER_PASS: "{{ valheim.server_pass }}"
      TZ: America/New_York
    networks:
      - default
    volumes:
      - ./config:/config
      - valheim:/opt/valheim
    ports:
      - "2456-2457:2456-2457/udp"
    stop_grace_period: 2m
    restart: always
    labels:
      # Homepage
      - homepage.group=Games
      - homepage.name=Valheim
      - homepage.icon=https://cdn2.steamgriddb.com/icon/a0b83c02d720415dada82e08bc09e9f3/32/256x256.png
      - homepage.description=Skål!
      # AutoKuma
      - kuma.valheim.docker.name=Valheim
      - kuma.valheim.docker.docker_container=valheim
      - kuma.valheim.docker.docker_host=1

networks:
  default:
    driver_opts:
      com.docker.network.driver.mtu: 1280
volumes:
  valheim:
