# {{ ansible_managed }}
---

services:
  minecraft:
    image: itzg/minecraft-server:java17@sha256:f5a6f107f9a9f834d312e3e42b4368f157fbd56b9a36cdfa15252f21c3cfc85d
    container_name: minecraft
    ports:
      - 25565:25565
    environment:
      DIFFICULTY: hard
      ENABLE_ROLLING_LOGS: "true"
      EULA: "true"
      FORCE_GAMEMODE: "true"
      MAX_PLAYERS: 10
      MEMORY: 4G
      MOTD: The Fryer's Minecraft Server
      OPS: FryyourBacon
      OVERRIDE_SERVER_PROPERTIES: "true"
      PACKWIZ_URL: https://raw.githubusercontent.com/caycehouse/fabulously-optimized-server/master/pack.toml
      RCON_CMDS_STARTUP: |-
        gamerule doFireTick false
        gamerule playersSleepingPercentage 0
        scoreboard objectives setdisplay list ts_Deaths
      SPAWN_PROTECTION: 0
      SNOOPER_ENABLED: "false"
      SIMULATION_DISTANCE: 4
      SYNC_CHUNK_WRITES: "false"
      TYPE: FABRIC
      USE_AIKAR_FLAGS: "true"
      VANILLATWEAKS_SHARECODE: AsglKj,xnqI8i
      VERSION: 1.19.4
      VIEW_DISTANCE: 7
    tty: true
    stdin_open: true
    networks:
      - default
    volumes:
      - ./data:/data
      - /etc/timezone:/etc/timezone:ro
    restart: always
networks:
  default:
    driver_opts:
      com.docker.network.driver.mtu: 1280
