# {{ ansible_managed }}
---

services:
  web:
    image: ghcr.io/nsarrazin/serge:main
    container_name: serge
    volumes:
      - ./data-db:/data/db
      - ./usr-src-app-weights:/usr/src/app/weights/
      - /etc/localtime:/etc/localtime:ro
    restart: always
    networks:
      - traefik_public
    labels:
      - "traefik.docker.network=traefik_public"
      - "traefik.http.routers.serge.rule=Host(`serge.caycehouse.com`)"
      - "traefik.http.routers.serge.entrypoints=websecure"
      - "traefik.http.services.serge.loadbalancer.server.port=8008"
      - "traefik.enable=true"
networks:
  traefik_public:
    external: true
