---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: free-games-claimer
spec:
  chartRef:
    kind: OCIRepository
    name: free-games-claimer
  interval: 1h
  values:
    controllers:
      free-games-claimer:
        type: cronjob
        cronjob:
          timeZone: America/New_York
          schedule: "0 12 * * *"
          backoffLimit: 0
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            image:
              repository: ghcr.io/vogler/free-games-claimer
              tag: dev@sha256:dbf59df2b22a475d03d8b317ed6a31f1ee2552e60dff852c3ff5050665fc1bbf
            env:
              NOVNC_PORT: &port 80
              PG_REDEEM: 1
              PG_CLAIMDLC: 1
              WIDTH: 1920
              HEIGHT: 1080
            envFrom:
              - secretRef:
                  name: "{{ .Release.Name }}-secret"
            resources:
              requests:
                cpu: 100m
              limits:
                memory: 2Gi
    defaultPodOptions:
      hostUsers: false
    service:
      app:
        ports:
          http:
            port: *port
    route:
      app:
        hostnames:
          - fgc.housefam.casa
        parentRefs:
          - name: envoy-internal
            namespace: network
    persistence:
      config:
        existingClaim: "{{ .Release.Name }}"
        globalMounts:
          - path: /fgc/data
