---
customization:
  extraKernelArgs:
    - intel_iommu=on # PCI Passthrough
    - iommu=pt # PCI Passthrough
  systemExtensions:
    officialExtensions:
      - siderolabs/intel-ucode # Intel CPU microcode
      - siderolabs/realtek-firmware # Realtek NICs
      - siderolabs/zfs # ZFS for OpenEBS zfs-localpv (single-node local storage)
