---
# yaml-language-server: $schema=https://k8s-skeemahs.pages.dev/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: isponsorblocktv
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    name: isponsorblocktv-secret
    template:
      data:
        config.json: |-
          {
              "devices": [
                  {
                      "screen_id": "{{ .ISB_SCREEN_ID_OFFICE_ATV }}",
                      "name": "Office Apple TV"
                  },
                  {
                      "screen_id": "{{ .ISB_SCREEN_ID_LIVING_ROOM_ATV }}",
                      "name": "Living Room Apple TV"
                  },
                  {
                      "screen_id": "{{ .ISB_SCREEN_ID_BEDROOM_ATV }}",
                      "name": "Bedroom Apple TV"
                  }
              ],
              "skip_categories": [
                  "sponsor",
                  "selfpromo",
                  "interaction",
                  "intro",
                  "outro"
              ],
              "skip_count_tracking": false,
              "mute_ads": true,
              "skip_ads": true,
              "auto_play": false,
              "apikey": "",
              "channel_whitelist": []
          }
  dataFrom:
    - extract:
        key: isponsorblocktv
