# {{ ansible_managed }}
---

services:
  dashy:
    image: lissy93/dashy:2.1.1@sha256:541e46d0e3b49ec940574812c10cbed47d94efc7745339d0e3fce3507a5d55e8
    container_name: Dashy
    volumes:
      - ./app-public:/app/public
    networks:
      - tunnel
    environment:
      - NODE_ENV=production
      - UID=1002
      - GID=1002
    restart: always
    healthcheck:
      test: [ 'CMD', 'node', '/app/services/healthcheck' ]
      interval: 1m30s
      timeout: 10s
      retries: 3
      start_period: 40s
networks:
  tunnel:
    external: true
