# {{ ansible_managed }}
---

services:
  dashy:
    image: lissy93/dashy:2.1.1@sha256:089b7d6e6618caa6eb59ee41a266e8117e580e8fffeb242235025954138a0349
    container_name: Dashy
    volumes:
      - ./app-public:/app/public
    networks:
      - tunnel
    environment:
      - NODE_ENV=production
      - UID=1002
      - GID=1002
    restart: always
    healthcheck:
      test: [ 'CMD', 'node', '/app/services/healthcheck' ]
      interval: 1m30s
      timeout: 10s
      retries: 3
      start_period: 40s
networks:
  tunnel:
    external: true
