# {{ ansible_managed }}
---

services:
  dashy:
    image: lissy93/dashy:2.1.1@sha256:1fe4ae9e0eaec7326f88a9feb09c5cfb345952e89260b626eb2568e9c858591a
    container_name: Dashy
    volumes:
      - ./app-public:/app/public
    networks:
      - tunnel
    environment:
      - NODE_ENV=production
      - UID=1002
      - GID=1002
    restart: always
    healthcheck:
      test: [ 'CMD', 'node', '/app/services/healthcheck' ]
      interval: 1m30s
      timeout: 10s
      retries: 3
      start_period: 40s
networks:
  tunnel:
    external: true
