---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2beta2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: oceanblock
spec:
  interval: 1h
  chart:
    spec:
      chart: minecraft
      version: 4.24.0
      sourceRef:
        kind: HelmRepository
        name: itzg
        namespace: default
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    deploymentAnnotations:
      reloader.stakater.com/auto: "true"
    image:
      repository: itzg/minecraft-server
      tag: 2025.2.1-java8@sha256:340b3e1f0ba417561de1f73148769700fe982b9efc1c298922ceb85737337eed
    livenessProbe:
      initialDelaySeconds: 120
    serviceAnnotations:
      mc-router.itzg.me/externalServerName: &host oceanblock.thefryer.games
    minecraftServer:
      difficulty: "hard"
      eula: "true"
      forcegameMode: true
      ftbModpackId: 91
      maxPlayers: 10
      memory: "6G"
      motd: "The Fryer's OceanBlock Server"
      ops: "FryyourBacon"
      overrideServerProperties: true
      type: "FTBA"
      viewDistance: 7
      whitelist: "FryyourBacon"
      rcon:
        enabled: true
        existingSecret: &secret oceanblock-secret
        secretKey: RCON_PASSWORD
      extraPorts:
      - name: metrics
        containerPort: 9225
        protocol: TCP
        service:
          enabled: true
          embedded: false
          type: ClusterIP
          port: 9225
        ingress:
          ingressClassName: external
          enabled: true
          annotations:
            external-dns.alpha.kubernetes.io/target: mc-router.thefryer.games
            external-dns.alpha.kubernetes.io/cloudflare-proxied: "false"
            gethomepage.dev/enabled: "true"
            gethomepage.dev/href: https://mcsrvstat.us/server/oceanblock.thefryer.games
            gethomepage.dev/description: Time to dive in!
            gethomepage.dev/group: Games
            gethomepage.dev/icon: https://www.feed-the-beast.com/_next/image?url=https%3A%2F%2Fcdn.feed-the-beast.com%2Fblob%2Faf%2Faf4ef40799823b2cde0c85e46f9cbd855b92c2117304f913bba0436df72f7774.png&w=256&q=75
            gethomepage.dev/name: OceanBlock
            gethomepage.dev/app: minecraft
            gethomepage.dev/widget.type: minecraft
            gethomepage.dev/widget.url: udp://oceanblock-minecraft.default.svc.cluster.local:25565
          hosts:
           - name: *host
    persistence:
      dataDir:
        enabled: true
        existingClaim: oceanblock
    extraEnv:
      ENABLE_ROLLING_LOGS: "true"
      ENFORCE_WHITELIST: "true"
      OVERRIDE_WHITELIST: "true"
      SNOOPER_ENABLED: "false"
      SYNC_CHUNK_WRITES: "false"
      USE_AIKAR_FLAGS: "true"
    envFrom:
      - secretRef:
          name: *secret
    resources:
      requests:
        cpu: 500m
        memory: &mem 8Gi
      limits:
        memory: *mem
