# {{ ansible_managed }}
---

services:
  broker:
    image: docker.io/library/redis:7@sha256:249e1bfb9448ae9e76807748f8cb3c5cc73e55441b7b36364c61a7428c9e814c
    restart: unless-stopped
    volumes:
      - ./redis-data:/data
    networks:
      - internal

  db:
    image: docker.io/library/postgres:15@sha256:bec340fb35711dd4a989146591b6adfaac53e6b0c02524ff956c43b054d117dd
    restart: unless-stopped
    volumes:
      - ./pg-data:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: paperless
      POSTGRES_USER: paperless
      POSTGRES_PASSWORD: paperless
    networks:
      - internal

  paperless-ngx:
    image: ghcr.io/paperless-ngx/paperless-ngx:latest@sha256:01c190595a547c2f39c99806348ba1d1091c218dc3741fb207598f767e2dea3f
    restart: unless-stopped
    depends_on:
      - db
      - broker
    healthcheck:
      test:
        [
          "CMD",
          "curl",
          "-fs",
          "-S",
          "--max-time",
          "2",
          "http://localhost:8000"
        ]
      interval: 30s
      timeout: 10s
      retries: 5
    volumes:
      - ./data:/usr/src/paperless/data
      - ./media:/usr/src/paperless/media
      - ./export:/usr/src/paperless/export
      - ./consume:/usr/src/paperless/consume
    env_file: docker-compose.env
    environment:
      PAPERLESS_REDIS: redis://broker:6379
      PAPERLESS_DBHOST: db
    networks:
      - tunnel
      - internal

networks:
  internal:
  tunnel:
    external: true
