# {{ ansible_managed }}
---

services:
  broker:
    image: docker.io/library/redis:7@sha256:a7cee7c8178ff9b5297cb109e6240f5072cdaaafd775ce6b586c3c704b06458e
    restart: unless-stopped
    volumes:
      - ./redis-data:/data
    networks:
      - internal

  db:
    image: docker.io/library/postgres:15@sha256:7415b9cc4d7f50194a4b7b2314ff2be0e6bcba82ebfd478991c2d846d2b8af78
    restart: unless-stopped
    volumes:
      - ./pg-data:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: paperless
      POSTGRES_USER: paperless
      POSTGRES_PASSWORD: paperless
    networks:
      - internal

  paperless-ngx:
    image: ghcr.io/paperless-ngx/paperless-ngx:latest@sha256:06d9ece8f21e5d04f3804b7d038e884b0a1c669914cebd61806ad4dbb347691c
    restart: unless-stopped
    depends_on:
      - db
      - broker
    healthcheck:
      test:
        [
          "CMD",
          "curl",
          "-fs",
          "-S",
          "--max-time",
          "2",
          "http://localhost:8000"
        ]
      interval: 30s
      timeout: 10s
      retries: 5
    volumes:
      - ./data:/usr/src/paperless/data
      - ./media:/usr/src/paperless/media
      - ./export:/usr/src/paperless/export
      - ./consume:/usr/src/paperless/consume
    env_file: docker-compose.env
    environment:
      PAPERLESS_REDIS: redis://broker:6379
      PAPERLESS_DBHOST: db
    networks:
      - tunnel
      - internal

networks:
  internal:
  tunnel:
    external: true
