# {{ ansible_managed }}
---

services:
  miniflux:
    image: miniflux/miniflux:2.0.47@sha256:763559d0d48a0fc79be28d545e8f8e4e6ce2a2f77c541041207fc7c811fc13cd
    container_name: miniflux
    depends_on:
      db:
        condition: service_healthy
    environment:
      DATABASE_URL: postgres://{{ miniflux.postgres_user }}:{{ miniflux.postgres_password }}@db/miniflux?sslmode=disable
      RUN_MIGRATIONS: 1
      CREATE_ADMIN: 1
      ADMIN_USERNAME: {{ miniflux.admin_username }}
      ADMIN_PASSWORD: {{ miniflux.admin_password }}
    healthcheck:
      test: [ "CMD", "/usr/bin/miniflux", "-healthcheck", "auto" ]
    networks:
      - tunnel
      - internal
    restart: always
  db:
    image: postgres:15.4@sha256:251905764de66771eb575eb27f86d389d9b302a0088c056990388ee5bb94f3f0
    container_name: postgres
    environment:
      POSTGRES_USER: {{ miniflux.postgres_user }}
      POSTGRES_PASSWORD: {{ miniflux.postgres_password }}
    volumes:
      - ./var-lib-postgresql-data:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD", "pg_isready", "-U", "miniflux" ]
      interval: 10s
      start_period: 30s
    networks:
      - internal
    restart: always
networks:
  tunnel:
    external: true
  internal:
