# {{ ansible_managed }}
---

services:
  miniflux:
    image: miniflux/miniflux:2.0.46@sha256:0625952a7e45ff8824936d71eeaca57205c12b758d5b47e27fe11df98bebfcff
    container_name: miniflux
    depends_on:
      db:
        condition: service_healthy
    environment:
      DATABASE_URL: postgres://{{ miniflux.postgres_user }}:{{ miniflux.postgres_password }}@db/miniflux?sslmode=disable
      RUN_MIGRATIONS: 1
      CREATE_ADMIN: 1
      ADMIN_USERNAME: {{ miniflux.admin_username }}
      ADMIN_PASSWORD: {{ miniflux.admin_password }}
    healthcheck:
      test: [ "CMD", "/usr/bin/miniflux", "-healthcheck", "auto" ]
    networks:
      - tunnel
      - internal
    restart: always
  db:
    image: postgres:15.4@sha256:c6b52e615f0e3d2ba110ba1537a71fa6c7c755b8891bad35afbb37a51c554174
    container_name: postgres
    environment:
      POSTGRES_USER: {{ miniflux.postgres_user }}
      POSTGRES_PASSWORD: {{ miniflux.postgres_password }}
    volumes:
      - ./var-lib-postgresql-data:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD", "pg_isready", "-U", "miniflux" ]
      interval: 10s
      start_period: 30s
    networks:
      - internal
    restart: always
networks:
  tunnel:
    external: true
  internal:
