# {{ ansible_managed }}
---

services:
  miniflux:
    image: miniflux/miniflux:2.0.45@sha256:7b0590c7c85280f5fb0ab723865875d4fc48ca1c82199f61998bf81a3f550ee1
    container_name: miniflux
    depends_on:
      db:
        condition: service_healthy
    environment:
      DATABASE_URL: postgres://{{ miniflux.postgres_user }}:{{ miniflux.postgres_password }}@db/miniflux?sslmode=disable
      RUN_MIGRATIONS: 1
      CREATE_ADMIN: 1
      ADMIN_USERNAME: {{ miniflux.admin_username }}
      ADMIN_PASSWORD: {{ miniflux.admin_password }}
    healthcheck:
      test: [ "CMD", "/usr/bin/miniflux", "-healthcheck", "auto" ]
    networks:
      - tunnel
      - internal
    restart: always
  db:
    image: postgres:15.3@sha256:a8da151019fbccb64b199aa77cb15caafd3903e943a66753f46865766062ed72
    container_name: postgres
    environment:
      POSTGRES_USER: {{ miniflux.postgres_user }}
      POSTGRES_PASSWORD: {{ miniflux.postgres_password }}
    volumes:
      - ./var-lib-postgresql-data:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD", "pg_isready", "-U", "miniflux" ]
      interval: 10s
      start_period: 30s
    networks:
      - internal
    restart: always
networks:
  tunnel:
    external: true
  internal:
