# {{ ansible_managed }}
---

services:
  archisteamfarm:
    image: justarchi/archisteamfarm:latest@sha256:566d4f1c08783b415dec09b9903d95453a082829bd812741bed3bc5bb381cbbb
    container_name: archisteamfarm
    user: "{{ user_id }}:{{ group_id }}"
    volumes:
      - ./app-config:/app/config
    networks:
      - tunnel
    restart: unless-stopped
    labels:
      # Homepage
      - homepage.group=Utilities
      - homepage.name=ArchiSteamFarm
      - homepage.icon=archisteamfarm
      - homepage.href=https://asf.caycehouse.com
      - homepage.description=Steam cards farmer
      # AutoKuma
      - kuma.archisteamfarm.docker.name=ArchiSteamFarm
      - kuma.archisteamfarm.docker.docker_container=archisteamfarm
      - kuma.archisteamfarm.docker.docker_host=1

networks:
  tunnel:
    external: true
