# {{ ansible_managed }}
---

services:
  archisteamfarm:
    image: justarchi/archisteamfarm:latest@sha256:f52b4dd4fe5471127870dc342479e4dba8531d96ddc95bce9e70eb640fb84f57
    container_name: archisteamfarm
    user: "{{ user_id }}:{{ group_id }}"
    volumes:
      - ./app-config:/app/config
    networks:
      - tunnel
    restart: unless-stopped
    labels:
      # Homepage
      - homepage.group=Utilities
      - homepage.name=ArchiSteamFarm
      - homepage.icon=archisteamfarm
      - homepage.href=https://asf.caycehouse.com
      - homepage.description=Steam cards farmer
      # AutoKuma
      - kuma.archisteamfarm.docker.name=ArchiSteamFarm
      - kuma.archisteamfarm.docker.docker_container=archisteamfarm
      - kuma.archisteamfarm.docker.docker_host=1

networks:
  tunnel:
    external: true
