# {{ ansible_managed }}
---

services:
  archisteamfarm:
    image: justarchi/archisteamfarm:latest@sha256:f59b62b04ddbd25f7583e6c8846ace80bdb9be7da6a4feeb2c88248dda4f80d9
    container_name: archisteamfarm
    volumes:
      - ./app-config:/app/config
    networks:
      - tunnel
    restart: always
    labels:
      # Homepage
      - homepage.group=Utilities
      - homepage.name=ArchiSteamFarm
      - homepage.icon=archisteamfarm
      - homepage.href=https://asf.caycehouse.com
      - homepage.description=Steam cards farmer
      # AutoKuma
      - kuma.archisteamfarm.docker.name=ArchiSteamFarm
      - kuma.archisteamfarm.docker.docker_container=archisteamfarm
      - kuma.archisteamfarm.docker.docker_host=1

networks:
  tunnel:
    external: true
