---
# yaml-language-server: $schema=https://raw.githubusercontent.com/yannh/kubernetes-json-schema/master/v1.30.2-standalone-strict/serviceaccount-v1.json
kind: ServiceAccount
apiVersion: v1
metadata:
  name: restart-seaopolis
---
# yaml-language-server: $schema=https://raw.githubusercontent.com/yannh/kubernetes-json-schema/master/v1.30.2-standalone-strict/role-rbac-v1.json
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: restart-seaopolis
rules:
  - apiGroups:
      - apps
      - extensions
    resources:
      - deployments
    resourceNames:
      - seaopolis
    verbs:
      - get
      - patch
      - list
      - watch
---
# yaml-language-server: $schema=https://raw.githubusercontent.com/yannh/kubernetes-json-schema/master/v1.30.2-standalone-strict/rolebinding-rbac-v1.json
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: restart-seaopolis
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: restart-seaopolis
subjects:
  - kind: ServiceAccount
    name: restart-seaopolis
---
# yaml-language-server: $schema=https://raw.githubusercontent.com/yannh/kubernetes-json-schema/master/v1.30.2-standalone-strict/cronjob-batch-v1.json
apiVersion: batch/v1
kind: CronJob
metadata:
  name: restart-seaopolis
spec:
  concurrencyPolicy: Forbid
  schedule: "0 4,16 * * *"
  timeZone: "America/New_York"
  jobTemplate:
    spec:
      backoffLimit: 1
      activeDeadlineSeconds: 600
      template:
        spec:
          serviceAccountName: restart-seaopolis
          restartPolicy: Never
          containers:
            - name: kubectl
              image: bitnami/kubectl
              command:
                - bash
                - -c
                - >-
                  kubectl rollout restart deployment/seaopolis &&
                  kubectl rollout status deployment/seaopolis
