# {{ ansible_managed }}
---

services:
  changedetection:
    image: ghcr.io/dgtlmoon/changedetection.io:0.45@sha256:e14695cbabe984dcf7ce70407ab655e749ce17c5c241dd0aeb57ab9a8df74b35
    container_name: changedetection
    hostname: changedetection
    environment:
      - PLAYWRIGHT_DRIVER_URL=ws://playwright-chrome:3000/?stealth=1&--disable-web-security=true
    networks:
      - internal
      - tunnel
    volumes:
      - ./datastore:/datastore
    restart: always
    depends_on:
      playwright-chrome:
        condition: service_started

  playwright-chrome:
    hostname: playwright-chrome
    image: browserless/chrome:1.60-chrome-stable@sha256:315fe123dc5aa2f2a5ec0d091960813cdc6bc77faf18571381ad21af3892aec9
    environment:
      - SCREEN_WIDTH=1920
      - SCREEN_HEIGHT=1024
      - SCREEN_DEPTH=16
      - ENABLE_DEBUGGER=false
      - PREBOOT_CHROME=true
      - CONNECTION_TIMEOUT=300000
      - MAX_CONCURRENT_SESSIONS=10
      - CHROME_REFRESH_TIME=600000
      - DEFAULT_STEALTH=true

      # Ignore HTTPS errors, like for self-signed certs
      - DEFAULT_IGNORE_HTTPS_ERRORS=true
    networks:
      - internal
    restart: always

networks:
  internal:
  tunnel:
    external: true
