# {{ ansible_managed }}
---

services:
  changedetection:
    image: ghcr.io/dgtlmoon/changedetection.io:0.41@sha256:6eea7f213d35c8e6155d1aa462a1c1180b5fa16c46b8988a6201d6aa93829a54
    container_name: changedetection
    hostname: changedetection
    environment:
      - PLAYWRIGHT_DRIVER_URL=ws://playwright-chrome:3000/?stealth=1&--disable-web-security=true
    networks:
      - default
      - traefik_public
    volumes:
      - ./datastore:/datastore
    restart: always
    labels:
      - "traefik.docker.network=traefik_public"
      - "traefik.http.routers.changedetection.rule=Host(`changedetection.caycehouse.com`)"
      - "traefik.http.routers.changedetection.entrypoints=websecure"
      - "traefik.http.services.changedetection.loadbalancer.server.port=5000"
      - "traefik.enable=true"
    depends_on:
      playwright-chrome:
        condition: service_started

  playwright-chrome:
    hostname: playwright-chrome
    image: browserless/chrome:latest@sha256:9125dcee27fba95043e321d4835cfe7d40f2031b6f6d3081af7f6899dfcfc3e4
    environment:
      - SCREEN_WIDTH=1920
      - SCREEN_HEIGHT=1024
      - SCREEN_DEPTH=16
      - ENABLE_DEBUGGER=false
      - PREBOOT_CHROME=true
      - CONNECTION_TIMEOUT=300000
      - MAX_CONCURRENT_SESSIONS=10
      - CHROME_REFRESH_TIME=600000
      - DEFAULT_STEALTH=true

      # Ignore HTTPS errors, like for self-signed certs
      - DEFAULT_IGNORE_HTTPS_ERRORS=true
    networks:
      - default
    restart: always

networks:
  default:
  traefik_public:
    external: true
