---
# yaml-language-server: $schema=https://k8s-skeemahs.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: multus
spec:
  chartRef:
    kind: OCIRepository
    name: multus
  interval: 1h
  values:
    multus:
      resources:
        requests:
          cpu: 10m
        limits:
          memory: 32Mi
