# {{ ansible_managed }}
---

services:
  cloudflared:
    image: cloudflare/cloudflared:2023.5.0
    command: tunnel --no-autoupdate run
    environment:
      - TUNNEL_TOKEN={{ tunnel_token }}
    networks:
      - tunnel
networks:
  tunnel:
    external: true
