# {{ ansible_managed }}
---

services:
  cloudflared:
    image: cloudflare/cloudflared:2023.6.1@sha256:dbf9e9f7caeffb6ba0f59627e1c6c92a07542912050d91317b33bd9085a0737f
    command: tunnel --no-autoupdate run
    environment:
      - TUNNEL_TOKEN={{ tunnel_token }}
    networks:
      - tunnel
networks:
  tunnel:
    external: true
