[defaults]
nocows = True
remote_user = caycehouse
inventory = ./inventory/hosts.yaml
vault_identity_list = home-ops@~/.ansible/vault-password-home-ops
roles_path = "./roles"
timeout = 60

[privilege_escalation]
become = True

[ssh_connection]
pipelining = True
