---
# yaml-language-server: $schema=https://raw.githubusercontent.com/bjw-s-labs/helm-charts/main/charts/other/app-template/schemas/helmrelease-helm-v2.schema.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: hytale
spec:
  chartRef:
    kind: OCIRepository
    name: hytale
  interval: 1h
  values:
    controllers:
      hytale:
        annotations:
          reloader.stakater.com/auto: "true"
        containers:
          app:
            stdin: true
            tty: true
            image:
              repository: ghcr.io/deinfreu/hytale-server
              tag: experimental-0.1.3
            env:
              HYTALE_CACHE: true
              SERVER_PORT: &port 5520
              TZ: America/New_York
            envFrom:
              - secretRef:
                  name: "{{ .Release.Name }}-secret"
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: {drop: ["ALL"]}
            resources:
              requests:
                cpu: 2000m
              limits:
                memory: 10Gi
    defaultPodOptions:
      securityContext:
        runAsNonRoot: true
        runAsUser: 1000
        runAsGroup: 1000
        fsGroup: 1000
        fsGroupChangePolicy: OnRootMismatch
    service:
      app:
        type: LoadBalancer
        annotations:
          external-dns.alpha.kubernetes.io/hostname: "hytale.thefryer.games"
          lbipam.cilium.io/ips: 192.168.69.141
        ports:
          udp:
            port: *port
            protocol: UDP
    persistence:
      data:
        existingClaim: "{{ .Release.Name }}"
        globalMounts:
          - path: /home/container
      machine-id:
        type: secret
        name: "{{ .Release.Name }}-secret"
        globalMounts:
          - path: /etc/machine-id
            subPath: MACHINE_ID
            readOnly: true
      tmp:
        type: emptyDir
