# {{ ansible_managed }}
---

services:
  satisfactory:
    image: wolveix/satisfactory-server:v1.6.1@sha256:2cf5d57ecb288dc35bbf675c97022851b7344ce0788ed5101b61767f9abafd6d
    container_name: satisfactory
    environment:
      AUTOPAUSE: "false"
      PUID: "{{ user_id }}"
      PGID: "{{ group_id }}"
    networks:
      - internal
    volumes:
      - ./config-backups:/config/backups
      - ./config-saved:/config/saved
      - satisfactory:/config/gamefiles
    ports:
      - 7777:7777/udp
      - 15000:15000/udp
      - 15777:15777/udp
    restart: unless-stopped
    labels:
      # Homepage
      - homepage.group=Games
      - homepage.name=Satisfactory
      - homepage.icon=https://cdn2.steamgriddb.com/icon_thumb/a12848aeac58ac57e95977f93fec17fd.png
      - homepage.description=The factory must prevail!
      # AutoKuma
      - kuma.satisfactory.docker.name=Satisfactory
      - kuma.satisfactory.docker.docker_container=satisfactory
      - kuma.satisfactory.docker.docker_host=1

networks:
  internal:
    driver_opts:
      com.docker.network.driver.mtu: 1280
volumes:
  satisfactory:
