---
# yaml-language-server: $schema=https://raw.githubusercontent.com/yannh/kubernetes-json-schema/master/v1.26.1-standalone-strict/configmap-v1.json
apiVersion: v1
kind: ConfigMap
metadata:
  name: homepage-config
  labels:
    app.kubernetes.io/name: homepage
data:
  bookmarks.yaml: |
    ---
    - Developer:
      - Github:
          - icon: github
            href: https://github.com/
      - kubesearch:
          - icon: https://avatars1.githubusercontent.com/u/61287648
            href: https://kubesearch.dev/
      - IT-Tools:
          - icon: it-tools
            href: https://it-tools.tech/
    - Social:
        - Reddit:
            - icon: reddit
              href: https://reddit.com/
    - Entertainment:
        - YouTube:
            - icon: youtube
              href: https://youtube.com/
    - Gaming:
        - BeforeIPlay:
            - icon: https://beforeiplay.com/images/beforeiplaylogo.png
              href: https://beforeiplay.com/

  docker.yaml: |
    ---

  kubernetes.yaml: |
    ---
    mode: cluster
    route: gateway

  services.yaml: |
    ---
    - Remote Access:
          - UniFi Controller:
                icon: unifi-controller
                description: UniFi Controller
                href: https://unifi.internal
                widget:
                  type: unifi
                  url: https://unifi.internal
                  username: {{HOMEPAGE_VAR_HOMEPAGE_UNIFI_USER}}
                  password: {{HOMEPAGE_VAR_HOMEPAGE_UNIFI_PASS}}
          - R730XD iDRAC:
                icon: idrac
                description: Dell Remote Access Controller
                href: https://192.168.1.132
                ping: 192.168.1.132
    - Storage:
          - TrueNAS Scale:
                icon: truenas-scale
                description: Storage Server
                href: https://bakery.internal
                ping: bakery.internal
    - Utilities:
          - OctoPi:
                description: 3D printer web interface
                href: https://octopi.internal
                icon: octoprint
                widget:
                  key: {{HOMEPAGE_VAR_OCTOPI_API_KEY}}
                  type: octoprint
                  url: http://octopi.internal

  settings.yaml: |
    ---
    color: indigo
    iconStyle: theme
    layout:
      Games:
        columns: 3
        style: row
      News:
        columns: 3
        style: row
      Utilities:
        columns: 3
        style: row
    useEqualHeights: true

  widgets.yaml: |
    ---
    - resources:
        cpu: true
        memory: true
        disk: /
        uptime: true
    - search:
        provider: google
        focus: true
        target: _blank
