# {{ ansible_managed }}
---

services:
  headscale:
    image: headscale/headscale:0.22.1
    container_name: headscale
    volumes:
      - ./etc-headscale:/etc/headscale
      - ./var-lib-headscale:/var/lib/headscale
    networks:
      - internal
      - traefik_public
    command: headscale serve
    restart: always
    labels:
      - traefik.enable=true
      - traefik.http.routers.headscale-rtr.rule=PathPrefix(`/`) && Host(`headscale.caycehouse.com`)
      - traefik.http.services.headscale-svc.loadbalancer.server.port=8080
  headscale-ui:
    image: ghcr.io/gurucomputing/headscale-ui:2023.01.30-beta-1
    container_name: headscale-ui
    networks:
      - internal
      - traefik_public
    restart: always
    labels:
      - traefik.enable=true
      - traefik.http.routers.headscale-ui-rtr.rule=PathPrefix(`/web`) && Host(`headscale.caycehouse.com`)
      - traefik.http.services.headscale-ui-svc.loadbalancer.server.port=80
networks:
  traefik_public:
    external: true
  internal:
