# {{ ansible_managed }}
---

services:
  portainer:
    image: portainer/portainer-ce:2.20.0-alpine@sha256:6719feba5c8098ee958795190a30e8d5210c00c2917aaa7a5793800054d8c2c0
    container_name: portainer
    extra_hosts:
      - "host.docker.internal:host-gateway"
    volumes:
      - ./data:/data
    ports:
      - "9443:9443"
    networks:
      - internal
      - tunnel
    restart: always
    labels:
      # Homepage
      - homepage.group=Utilities
      - homepage.name=Portainer
      - homepage.icon=portainer
      - homepage.href=https://portainer.caycehouse.com
      - homepage.description=Container management software
      # AutoKuma
      - kuma.portainer.docker.name=Portainer
      - kuma.portainer.docker.docker_container=portainer
      - kuma.portainer.docker.docker_host=1

networks:
  tunnel:
    external: true
  internal:
    driver: bridge
    driver_opts:
      com.docker.network.driver.mtu: 1280
