# {{ ansible_managed }}
---

services:
  cloudflared:
    image: cloudflare/cloudflared:2024.2.0@sha256:4d55d2f8c05a2e372d62dc3e84586e2b87730d6fb372fdb1801dd7dbab70187c
    container_name: cloudflared
    command: tunnel --no-autoupdate run
    environment:
      - TUNNEL_TOKEN={{ tunnel_token }}
    networks:
      - tunnel
    restart: unless-stopped
    labels:
      # AutoKuma
      - kuma.cloudflared.docker.name=cloudflared
      - kuma.cloudflared.docker.docker_container=cloudflared
      - kuma.cloudflared.docker.docker_host=1

networks:
  tunnel:
    external: true
