# {{ ansible_managed }}
---

services:
  cloudflared:
    image: cloudflare/cloudflared:2024.3.0@sha256:8acfc9e4e65e0d1e26686177a3a0c4baa3b0330c0fc6adc899c2b673bc938e77
    container_name: cloudflared
    command: tunnel --no-autoupdate run
    environment:
      - TUNNEL_TOKEN={{ tunnel_token }}
    networks:
      - tunnel
    restart: always
    labels:
      # AutoKuma
      - kuma.cloudflared.docker.name=cloudflared
      - kuma.cloudflared.docker.docker_container=cloudflared
      - kuma.cloudflared.docker.docker_host=1

networks:
  tunnel:
    external: true
