---
# yaml-language-server: $schema=https://k8s-skeemahs.pages.dev/external-secrets.io/externalsecret_v1.json
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: foundryvtt
spec:
  secretStoreRef:
    kind: ClusterSecretStore
    name: onepassword
  target:
    name: foundryvtt-secret
    template:
      data:
        FOUNDRY_ADMIN_KEY: "{{ .FOUNDRYVTT_ADMIN_KEY }}"
        FOUNDRY_PASSWORD: "{{ .FOUNDRYVTT_PASSWORD }}"
        FOUNDRY_USERNAME: "{{ .FOUNDRYVTT_USERNAME }}"
  dataFrom:
    - extract:
        key: foundryvtt
