# {{ ansible_managed }}
---

services:
  thethans:
    image: itzg/minecraft-server:2024.1.0-java17@sha256:ca62acdcdf24be6292da5da92c7d797879c47b93951b40a7f86bfda8d3d2f830
    container_name: thethans
    ports:
      - 25569:25565
    environment:
      DIFFICULTY: "hard"
      ENABLE_ROLLING_LOGS: "true"
      ENFORCE_WHITELIST: "true"
      EULA: "true"
      FORCE_GAMEMODE: "true"
      MAX_PLAYERS: "10"
      MEMORY: "4G"
      MOTD: "Thethan's Minecraft Server"
      OPS: "EthanKruse,0_Burnt_Toast_0"
      OVERRIDE_SERVER_PROPERTIES: "true"
      OVERRIDE_WHITELIST: "true"
      RCON_CMDS_STARTUP: |-
        gamerule doFireTick false
        gamerule playersSleepingPercentage 0
      SPAWN_PROTECTION: "0"
      SNOOPER_ENABLED: "false"
      SIMULATION_DISTANCE: "10"
      SYNC_CHUNK_WRITES: "false"
      USE_AIKAR_FLAGS: "true"
      VIEW_DISTANCE: "10"
      WHITELIST: "EthanKruse,0_Burnt_Toast_0,FryyourBacon"
    labels:
      - homepage.group=Games
      - homepage.name=TheThans
      - homepage.icon=minecraft
      - homepage.description=Vanilla Minecraft server
    tty: true
    stdin_open: true
    volumes:
      - ./data:/data
      - /etc/timezone:/etc/timezone:ro
    restart: always
