# {{ ansible_managed }}
---

services:
  thethans:
    image: itzg/minecraft-server:2024.2.1-java17@sha256:c000b85f0caf329b0dedae98a415608999e1305fe13489c69e3797f148c472ab
    container_name: thethans
    ports:
      - 25569:25565
    environment:
      DIFFICULTY: "hard"
      ENABLE_ROLLING_LOGS: "true"
      ENFORCE_WHITELIST: "true"
      EULA: "true"
      FORCE_GAMEMODE: "true"
      MAX_PLAYERS: "10"
      MEMORY: "4G"
      MOTD: "Thethan's Minecraft Server"
      OPS: "EthanKruse,0_Burnt_Toast_0"
      OVERRIDE_SERVER_PROPERTIES: "true"
      OVERRIDE_WHITELIST: "true"
      PUID: "{{ user_id }}"
      PGID: "{{ group_id }}"
      RCON_CMDS_STARTUP: |-
        gamerule doFireTick false
        gamerule playersSleepingPercentage 0
      SPAWN_PROTECTION: "0"
      SNOOPER_ENABLED: "false"
      SIMULATION_DISTANCE: "10"
      SYNC_CHUNK_WRITES: "false"
      USE_AIKAR_FLAGS: "true"
      VIEW_DISTANCE: "10"
      WHITELIST: "EthanKruse,0_Burnt_Toast_0,FryyourBacon"
    labels:
      # Homepage
      - homepage.group=Games
      - homepage.name=TheThans
      - homepage.icon=minecraft
      - homepage.description=Vanilla Minecraft server
      # AutoKuma
      - kuma.thethans.docker.name=TheThans
      - kuma.thethans.docker.docker_container=thethans
      - kuma.thethans.docker.docker_host=1

    tty: true
    stdin_open: true
    volumes:
      - ./data:/data
      - /etc/timezone:/etc/timezone:ro
    restart: always
